@charset "UTF-8";

/* todas as demais mídias */

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url('../back-print.jpg');
    }

    main{
        border: 2px solid black;
    }
    main, h1{
        text-shadow: none;
        color: black;
    }
    #print{
        display: block;
    }

    #phone{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url('../back-tablet.jpg');
    }

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url('../back-pc.jpg');
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url('../back-tv.jpg');
    }

    main{
        width: 700px;
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}